@font-face {
  font-family: fuenteNav;
  src: url(./fonts/Calm\ Down\ Sampson.ttf);
}
$color-primario: #a31015;
$color-secundario: #ffe3e3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-primario;
}

.navbar {
  background-color: $color-secundario !important;
  justify-content: center;
  a {
    color: $color-primario;
    text-align: center;
    justify-content: center;
    font-family: fuenteNav;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px $color-secundario, -1px -1px 2px black,
      0 0 5px $color-secundario;
  }
  a:hover {
    color: #c5484c;
  }
}
h1 {
  margin-top: 50px;
  font-family: fuenteNav;
  text-align: center;
  color: $color-secundario;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px $color-primario, -1px -1px 2px black,
    0 0 5px $color-primario;
}

h2 {
  margin-top: 50px;
  font-family: fuenteNav;
  text-align: center;
  color: $color-secundario;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px $color-primario, -1px -1px 2px black,
    0 0 5px $color-primario;
}

.filas {
  text-align: center;
  justify-content: center;
  width: 100%;
}
.boton {
  padding-top: 5px;
  border: none;
  padding-top: 5px;
  background-color: $color-secundario;
  border-radius: 30px;
  text-shadow: 1px 1px 2px $color-secundario, -1px -1px 2px black,
    0 0 5px $color-secundario;
  color: $color-primario;
  font-family: fuenteNav;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  width: 90%;
  height: 70px;
}
.boton:hover {
  color: #f5555a;
  background-color: #ffbdbd;
}

.botonaceptar {
  padding-top: 5px;
  border: none;
  padding-top: 5px;
  background-color: #ffe3e3;
  border-radius: 30px;
  text-shadow: 1px 1px 2px #ffe3e3, -1px -1px 2px black, 0 0 5px #ffe3e3;
  color: #a31015;
  font-family: fuenteNav;
  font-size: 3em;
  height: 70px;
  width: 50px;
}

.botonaceptar:hover {
  color: #f5555a;
  background-color: #ffbdbd;
}

li {
  margin-top: 30px;
  padding-top: 5px;
  background-color: #ffe3e3;
  color: #a31015;
  font-family: fuenteNav;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  border-radius: 40px;
  justify-content: center;
  text-align: center;
}

.resultado {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px 20px;
  border: 2px solid #a31015;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: fuenteNav;
  font-size: 1.2em;
  color: #a31015;
}

.error {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #c5484c;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: fuenteNav;
  font-size: 1.2em;
  color: #fff;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #a31015;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #c5484c;
}
